html {
    background: linear-gradient(-90deg, pink, lightskyblue, grey);
    padding-bottom: 2.5em;
  }

body {
  background-color: #330033;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='90' height='90' viewBox='0 0 90 90'%3E%3Ccircle fill='%2306B' cx='45' cy='45' r='10'/%3E%3Cg fill='%23800' fill-opacity='1'%3E%3Ccircle cx='0' cy='90' r='10'/%3E%3Ccircle cx='90' cy='90' r='10'/%3E%3Ccircle cx='90' cy='0' r='10'/%3E%3Ccircle cx='0' cy='0' r='10'/%3E%3C/g%3E%3C/svg%3E");
  border-radius: 3em;
    /*background: url("./images/dejavu1.jpg")
    no-repeat center fixed;
    height: 100%;
    background-size: contain;
    border-radius: 3em;*/
  }

  footer {
    padding: 0.8em 0.5em 0.8em 0.5em;
    background: linear-gradient(orange, black, grey);
    color: rgb(117, 80, 86);
    align-items: center;
    font-weight: bolder;
  }
  
  

  

  